
@model TeamProjectIAN6.Models.ApplicationUser

@{
    ViewBag.Title = "MyProfile";
}

<h2>My Profile</h2>


<table class="table">
    <tr>
        <th>@Html.DisplayFor(model => model.Firstname)</th>
        <th>@Html.DisplayFor(model => model.Lastname)</th>
        <th>@Html.DisplayFor(model => model.Age)</th>
        <th>@Html.DisplayFor(model => model.Education.Name)</th>
        <th>@Html.DisplayFor(model => model.Occupation.Name)</th>
    </tr>
 
</table>
