
@model TeamProjectIAN6.Models.ApplicationUser

@{
    ViewBag.Title = "MyProfile";

}

<h2>My Profile</h2>

<h1>
    <img src="@Url.Action("UserPhotos", "Account" )" class="ProfileImageInMyPorfile"  />
</h1>

<p>
    @Model.Firstname @Model.Lastname, @Model.Age
</p>

<p>
    @if (@Model.Occupation != null)
    {
        @Model.Occupation.Name
    }
</p>

<p>
    @if (@Model.Education != null)
    {
        @Model.Education.Name
    }
</p>



