@model List<TeamProjectIAN6.Core.ViewModels.SearchViewModel>

@{
    ViewBag.Title = "SearchResultView";
}

<h2>Places To Go</h2>
<p>
    @Html.ActionLink("Advanced Search", "AdvancedSearchScreen")
</p>

<table id="restaurants" class="table table-bordered">
    <thead>
        <tr>
            <th class="tableHeader">Name</th>
            <th class="tableHeader">Capacity</th>
            <th class="tableHeader">Current Capacity</th>
            <th class="tableHeader">Absolute Capacity</th>
            <th class="tableHeader">Relative Capacity (%)</th>
            <th class="tableHeader">Action</th>
            <th class="tableHeader">Follow</th>

        </tr>
    </thead>
    <tbody>

        @foreach (var restaurant in Model)
        {
            <tr>
                <td>@restaurant.Name</td>
                <td>@restaurant.Capacity</td>
                <td>@restaurant.CurrentCapacity</td>
                <td>@restaurant.AbsoluteCapacity</td>
                <td>@restaurant.RelativeCapacity</td>
                <td><a href="#">Join Chat</a></td>
                <td>

                    @if (restaurant.IsFollowed)
                    {
                        <button class="btn btn-outline-primary" data-business-id="@restaurant.Id">Unfollow</button>
                    }
                    else
                    {
                        <button class="btn btn-primary" data-business-id="@restaurant.Id">Follow</button>
                    }

                </td>
            </tr>
        }
    </tbody>
</table>

@section scripts
{
    <script>

        $(document).ready(function () {
            $('#restaurants').DataTable({
                "columns": [
                    { "data": "name" },
                    { "data": "capacity" },
                    { "data": "current_capacity" },
                    { "data": "absolute_capacity" },
                    { "data": "relative_capacity_(%)" },
                    { "data": "action" },
                    { "data": "follow" }
                ]
            });
        });



    </script>

    <script>

        $(document).ready(function () {
            console.log("in");
            $('button').click(function (e) {
                var button = e.target
            
                
                $(button).text($(button).text() == 'Follow' ? 'Unfollow' : 'Follow');
                $(button).toggleClass('btn btn-outline-primary btn btn-primary');
                $.post("/api/followrestaurnts", { restaurantId: $(button).attr("data-business-id") })
                    .done(function () {

                    })
                    .fail(function () {
                        alert("Follow failed");
                    });


                $.post("/api/notifications", { restaurantId: $(button).attr("data-business-id") })
                    .done(function () {

                    })
                    .fail(function () {
                        alert("Notification failed");
                    });

            });
        });


    </script>

}