@model IEnumerable<TeamProjectIAN6.Models.Restaurant>
@{
    ViewBag.Title = "MyBusinesses";
}


<h2>My Businesses</h2>

<ul class="businesses">
    @{int i = 0;}
    @foreach (var business in Model)
    {
        <li>
            <div class="details">
                <span>
                    @business.Name
                </span>
                <span>
                    @business.Category
                </span>
                @if (!@business.IsOpened)
                {
                    <button id="@i" data-business-id="@business.ID" class="btn btn-success btn-sm js-toggle-open" onclick="setButtonStyleWhenClosed('@i', @i)">Open</button>
                }
                @if (@business.IsOpened)
                {
                    <button id="@i" data-business-id="@business.ID" class="btn btn-danger btn-sm js-toggle-open" onclick="setButtonStyleWhenOpened('@i', @i)">Close</button>
                }
                <a href="@Url.Action("EnterTheBusiness", "Restaurant", new { id = business.ID })" class="glyphicon glyphicon-log-in" id="doorToTheStore"></a>
                <div class="actions">
                    <a href="@Url.Action("Edit", "Restaurant", new { id = business.ID })" target="_blank">Edit</a> |
                    <a href="#" class="js-delete-business" data-business-id="@business.ID">Delete</a>
            
                </div>


            </div>

        </li>
        i++;
    }
</ul>
<p>The number of businsses are: <span id="totalNumberOfbusineses">@i</span></p>

@section scripts
{
    <script>

        let count = new Array(@i).fill(0);

        function setButtonStyleWhenOpened(btn, bsn) {

            let property = document.getElementById(btn);

            if (count[bsn] == 0) {
                property.innerHTML = "Open";
                property.className = "btn btn-success btn-sm js-toggle-open";
                console.log("open");
                count[bsn] = 1;
            }
            else {
                property.innerHTML = "Close";
                property.className = "btn btn-danger btn-sm js-toggle-open";
                console.log("close");
                count[bsn] = 0;
            }
        }


        function setButtonStyleWhenClosed(btn, bsn) {

            let property = document.getElementById(btn);
            if (count[bsn] == 0) {
                property.innerHTML = "Close";
                property.className = "btn btn-danger btn-sm js-toggle-open";
                count[bsn] = 1;
                console.log("close");
            }
            else {
                property.innerHTML = "Open";
                property.className = "btn btn-success btn-sm js-toggle-open";
                console.log("open");
                count[bsn] = 0;
            }
        }



        $(document).ready(function () {

            $(".js-toggle-open").click(function (e) {
                var button = $(e.target);
                var buttonId = parseInt(button.attr("id"));
                let msg = '';
                let confirmClass = '';
                if (button.text() == "Close") {
                    msg = '<p> Are you sure you want to open this business ?</p>';
                    confirmClass = 'btn-success';
                }

                else {

                    msg = '<p> Are you sure you want to close this business ?</p>';
                    confirmClass = 'btn-danger';
                }
                
                bootbox.dialog({
                    title: 'Confirm Action',
                    message: msg,
                    size: 'large',
                    onEscape: true,
                    backdrop: true,
                    buttons: {
                        no: {
                            label: 'No',
                            className: 'btn-default',
                            callback: function () {
                                console.log(button.text());
                                if (button.text() == "Close") {
                                    button.text("Open");
                                    button.removeClass("btn btn-danger btn-sm js-toggle-open").addClass("btn btn-success btn-sm js-toggle-open")
                                    if (count[buttonId] == 0)
                                        count[buttonId] = 1
                                    else 
                                        count[buttonId] = 0
                                }
                                else if (button.text() == "Open") {
                                    button.text("Close");
                                    button.removeClass("btn btn-success btn-sm js-toggle-open").addClass("btn btn-danger btn-sm js-toggle-open")
                                    if (count[buttonId] == 0)
                                        count[buttonId] = 1
                                    else
                                        count[buttonId] = 0
                                }

                                bootbox.hideAll();

                            }
                        },
                        yes: {
                            label: 'Yes',
                            className: confirmClass,
                            callback: function () {
                                boxResult = 'Yes';
                                $.post("/api/openings", { restaurantId: button.attr("data-business-id") })
                                    .done(function () {

                                    })
                                    .fail(function () {
                                        alert("Open/Close failed");
                                    });
                            }
                        }
                    }
                });
            });
        });


        $(document).ready(function () {
            $(".js-delete-business").click(function (e) {
                var link = $(e.target);

                bootbox.dialog({
                    title: 'Confirm Deletion',
                    message: '<p>Are you sure want to delete this business?</p>',
                    size: 'large',
                    onEscape: true,
                    backdrop: true,
                    buttons: {
                        no: {
                            label: 'No',
                            className: 'btn-default',
                            callback: function () {
                                bootbox.hideAll();
                            }
                        },
                        yes: {
                            label: 'Yes',
                            className: 'btn-danger',
                            callback: function () {
                                $.ajax({
                                    url: "/api/restaurants/" + link.attr("data-business-id"),
                                    method: "DELETE"
                                })
                                    .done(function () {
                                        link.parents("li").fadeOut(function () {
                                            $(this).remove();
                                        });
                                    })
                                    .fail(function () {
                                        alert("Oops something went wrong");
                                    });
                            }
                        }
                    }
                })
            });
        });


    </script>
}

