@model IEnumerable<TeamProjectIAN6.Models.Restaurant>
@{
    ViewBag.Title = "MyBusinesses";
}


<h2>My Businesses</h2>

<ul class="businesses">
    @{int i = 0;}
    @foreach (var business in Model)
    {
        <li>
            <div class="details">
                <span>
                    @business.Name
                </span>
                <span>
                    @business.Category
                </span>
                @if (!@business.IsOpened)
                {
                    <button id="@("Closed"+i)" data-business-id="@business.ID" class="btn btn-success btn-sm js-toggle-open" onclick="setButtonStyleWhenClosed('@("Closed"+i)', @i)">Open</button>
                }
                @if (@business.IsOpened)
                {
                    <button id="@("Opened"+i)" data-business-id="@business.ID" class="btn btn-danger btn-sm js-toggle-open" onclick="setButtonStyleWhenOpened('@("Opened"+i)', @i)">Close</button>
                }
                <div class="actions">
                    <a href="@Url.Action("Edit", "Restaurant", new { id = business.ID })" target="_blank">Edit</a> |
                    <a href="@Url.Action("DeleteConfirmed", "Restaurant", new { id = business.ID })" class="js-delete-business" data-business-id="@business.ID">Delete</a>
                    <a href="@Url.Action("FileUpload", "Restaurant", new { enctype = "multipart/form-data"})">
                        <i class="glyphicon glyphicon-home"></i>
                        <span class="badge js-notifications-count hide"></span>
                        <label for="file">Upload Image:</label>
                        <input type="file" name="file" id="file" style="width: auto;" />
                        <input type="submit" value="Upload" class="submit" />
                    </a>
                </div>


            </div>

        </li>
        i++;
    }
</ul>
<p>The number of businsses are: <span id="totalNumberOfbusineses">@i</span></p>

@section scripts
{
    <script>
        $(document).ready(function () {

            $(".js-toggle-open").click(function (e) {
                var button = $(e.target);
                $.post("/api/openings", { restaurantId: button.attr("data-business-id") })
                    .done(function () {

                    })
                    .fail(function (response) {
                        alert("Open failed");
                    });
            });
        });

        let count = new Array(@i).fill(0);

        function setButtonStyleWhenOpened(btn, bsn) {

            let property = document.getElementById(btn);
            if (count[bsn] == 0) {
                property.innerHTML = "Open";
                property.className = "btn btn-success btn-sm js-toggle-open";
                console.log("open");
                count[bsn] = 1;
            }
            else {
                property.innerHTML = "Close";
                property.className = "btn btn-danger btn-sm js-toggle-open";
                console.log("close");
                count[bsn] = 0;
            }
        }


        function setButtonStyleWhenClosed(btn, bsn) {

            let property = document.getElementById(btn);
            if (count[bsn] == 0) {
                property.innerHTML = "Close";
                property.className = "btn btn-danger btn-sm js-toggle-open";
                count[bsn] = 1;
                console.log("close");
            }
            else {
                property.innerHTML = "Open";
                property.className = "btn btn-success btn-sm js-toggle-open";
                console.log("open");
                count[bsn] = 0;
            }
        }

    </script>
}

